@font-face {
  font-family: 'sora-bold';
  src: url(./fonts/Sora-Bold.ttf);
}
@font-face {
  font-family: 'sora-regular';
  src: url(./fonts/Sora-Regular.ttf);
}
body{
  background-color: #774DD4;
}
.quiz-box {
  width: 94rem;
  height: 38rem;
  background-color: #161A24;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.quiz-box__top-logo{
  display: flex;
}

.quiz-box__top-logo-icon{
  width: 2.5rem;
  height: 2.5rem;
  color:gold;
  margin-left: 1rem;
}

.quiz-box__top-logo-text{
  font-family: 'sora-bold', Courier, monospace;
  font-size: 2rem;
  color: gold;
}


.quiz-box__top {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.quiz-box__top-values{
  display: flex;
}

.quiz-box__top-true-value-logo svg{
  width: 2.5rem;
  height: 2.5rem;
  color: #ABF770;
}



.quiz-box__top-true-value{
  display: flex;
  align-items: center;
  border: 2px solid #ABF770;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.quiz-box__top-true-value-text {
  font-size: 2rem;
  font-family: 'sora-bold', Courier, monospace;
  color: #ABF770;

}

.quiz-box__top-false-value{
  display: flex;
  align-items: center;
  border: 2px solid #AB3030;
  padding: 0.2rem 1rem;
  border-radius: 1rem;

}

.quiz-box__top-false-value-text{
  font-size: 2rem;
  font-family: 'sora-bold', Courier, monospace;
  color: #AB3030;
}

.quiz-box__top-false-value-icon svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #AB3030;
}



.quiz-box-question-text{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 4rem;
  font-size: 1.4rem;
  font-family: 'sora-regular', Courier, monospace;
  color: #ffff;

}

.quiz-box-answers{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.quiz-box-answer{
  width: 20rem;
  height: 18rem;
  background-color: #1D2330;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  transition: all 200ms ease-in;
}

.quiz-box-answer:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.quiz-box-answer-image{
  width: 100%;
  border-radius: 1rem;

}

.quiz-box-answer-text{
  text-align: center;
  display: block;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: 'sora-regular', Courier, monospace;
  color: #ffff;

}

.quiz-box__bottom{
  display: block;
  text-align: center;
  margin-top: 2rem;
}

.quiz-box__bottom-qustion-number{
  font-size: 2rem;
  font-family: 'sora-bold', Courier, monospace;
  color:#D9D9D9 ;


}